/* treeSelect css starts*/
.tree-sections {
    column-count: 2;
    margin-bottom: 1.5rem;
}

.tree-sections>* {
    break-inside: avoid;
}

/* treeSelect css ends */

/* treeSelect card section css starts*/
.tree-sections .card-section {
    border: 1px solid rgb(5 5 5 / 12%);
    border-radius: 8px;
    padding: 42px 24px;
    margin-bottom: 1.5rem;
}

.tree-sections .card-section p {
    padding: 0 8px;
    margin-top: 0;
}

/* treeSelect card section css ends */

/* treeSelect container css starts*/
.tree-sections .tree-select-container {
    position: relative;
    margin-bottom: 15px;
}

/* treeSelect container css ends */

/* treeSelect input css starts */
.tree-sections .tree-select-input,
.tree-sections .tree-select-input:focus-visible {
    padding: 6px 8px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    /* width: 100%; */
    overflow-y: auto;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
}

.tree-sections .tree-select-input .selected-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    overflow-y: auto;
}

.tree-sections .tree-select-input.placeholder-color {
    color: #b9b3b3;
}

.tree-sections .tree-select-input:hover {
    border: 1px solid #4096ff;
}

.tree-sections .tree-select-input:active {
    border: 1px solid #1677ff;
}

.tree-sections .font-icons svg {
    float: right;
    color: #D0D0D0;
    font-size: 14px;
}

.tree-sections .dropdown-icons svg {
    font-size: 14px;
}

.tree-sections .dropdown-icons svg.svg-inline--fa.fa-file-image {
    font-size: 50px;
    text-align: center;
    color: #D0D0D0;
}

/* treeSelect input css ends */

/* treeSelect dropdown css starts*/
.tree-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    z-index: 10;
}

.tree-dropdown .tree-option .tree-option-label {
    padding: 0px 6px;
    border-radius: 3px;
    margin: 6px 0px;
    column-gap: 5px;
}

.tree-dropdown .tree-option.no-data.disabled .tree-option-label {
    pointer-events: none;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.tree-dropdown .tree-option.disabled .tree-option-label {
    display: flex;
    flex-direction: unset;
    pointer-events: none;
    opacity: 0.5;
}

.tree-dropdown .tree-option.selected>.tree-option-label {
    background-color: #4096ff24;
    border-radius: 3px;
}

.tree-dropdown .tree-option.selected>.tree-option-label:hover,
.tree-dropdown .tree-option .tree-submenu .tree-option.selected>.tree-option-label:hover {
    background-color: #4096ff24;
}

.tree-dropdown .tree-option>.tree-option-label:hover,
.tree-dropdown .tree-option .tree-submenu .tree-option>.tree-option-label:hover {
    background-color: #6d6b6b24;
}

/* treeSelect dropdown css ends */

/* selected items css starts*/
.tree-select-container .selected-pill {
    background-color: #58697d17;
    padding: 3px 9px;
    border-radius: 3px;
    margin-right: 2px;
    text-wrap: nowrap;
}

/* selected items css ends */

/* variant css starts*/
.tree-sections .tree-select-container.outlined .tree-select-input {
    border: 1px solid #D0D0D0;
}

.tree-sections .tree-select-container.underlined .tree-select-input {
    border: unset;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 0;
}

.tree-sections .tree-select-container.borderless .tree-select-input {
    border: unset;
}

.tree-sections .tree-select-container.filled .tree-select-input {
    border: unset;
    background-color: #b9b3b333;
}

.tree-sections .tree-select-container.underlined .tree-select-input:hover {
    border-bottom: 1px solid #4096ff;
}

.tree-sections .tree-select-container.outlined .tree-select-input:hover {
    border: 1px solid #4096ff;
}

/* variant css ends */

/* status css */

.tree-sections .tree-select-container.error .tree-select-input {
    border: 1px solid #c70101;
}

.tree-sections .tree-select-container.warning .tree-select-input {
    border: 1px solid #edaf08;
}

/* status css ends */

/* placement css starts */
.tree-sections .toggle-placement {
    display: flex;
    border-radius: 8px;
    font-size: 14px;
    border: 1px solid #D0D0D0;
    cursor: pointer;
    margin-bottom: 1.5rem;
    width: fit-content;
}

.tree-sections .toggle-placement>*:not(:last-child) {
    padding: 6px 8px;
    border-right: 1px solid #D0D0D0;
}

.tree-sections .toggle-placement>*:last-child {
    padding: 6px 8px;
}

.tree-sections .tree-select-input.large,
.tree-sections .tree-select-input:focus-visible {
    width: 100%;
}

.tree-sections .tree-select-input.middle,
.tree-sections .tree-select-input:focus-visible {
    width: 50%;
}

.tree-sections .tree-select-input.small,
.tree-sections .tree-select-input:focus-visible {
    width: 25%;
}

.tree-sections .tree-select-input.large+.dropdown-placement .tree-dropdown,
.tree-sections .tree-select-input.middle+.dropdown-placement .tree-dropdown,
.tree-sections .tree-select-input.small+.dropdown-placement .tree-dropdown {
    width: 50% !important;
}

.tree-sections .toggle-placement .active {
    border: 1px solid #4096ff;
}

.tree-sections .toggle-placement .active:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.tree-sections .toggle-placement .active:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.tree-sections .tree-select-input.large+.dropdown-placement.bottomRight .tree-dropdown,
.tree-sections .tree-select-input.middle+.dropdown-placement.bottomRight .tree-dropdown,
.tree-sections .tree-select-input.small+.dropdown-placement.bottomRight .tree-dropdown {
    left: -50px !important;
    transform: translateX(-75px);
}

.tree-sections .tree-select-input.large+.dropdown-placement.topRight .tree-dropdown,
.tree-sections .tree-select-input.middle+.dropdown-placement.topRight .tree-dropdown,
.tree-sections .tree-select-input.small+.dropdown-placement.topRight .tree-dropdown {
    left: -50px !important;
    transform: translateX(-75px);
    top: -171px;
}

.tree-sections .tree-select-input.large+.dropdown-placement.topLeft .tree-dropdown,
.tree-sections .tree-select-input.middle+.dropdown-placement.topLeft .tree-dropdown,
.tree-sections .tree-select-input.small+.dropdown-placement.topLeft .tree-dropdown {
    top: -171px;
}

/* placement css ends */


/* show treeline css starts */
.tree-line-wrapper {
    display: flex;
    flex-direction: column;
}


.tree-line-wrapper .btn,
.tree-line-wrapper .btn:active {
    position: relative;
    width: 100px;
    padding: 0px !important;
    border: none;
}

.btn.btn-pill,
.btn.btn-pill>.btn-bg {
    border-radius: 35px;
}

.checkbox {
    position: relative;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knob,
.btn-bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.tree-line-wrapper .knob {
    z-index: 2;
}

.tree-line-wrapper .btn-bg {
    width: 100%;
    background-color: #8C8C8C;
    transition: 0.3s ease all;
    z-index: 1;
}

.tree-line-wrapper .toggle-label {
    font-size: 10px;
    position: relative;
    top: -2px;
    font-weight: 500;
    padding: 0 25px;
    color: white;
}

/* showIcon */
#showIcon .knob:before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#showIcon .checkbox:checked+.knob:before {
    content: "";
    left: 75px;
}

#showIcon .checkbox:checked~.btn-bg {
    background-color: #4D96FF;
}

#showIcon .knob,
#showIcon .knob:before,
#showIcon .btn-bg {
    transition: 0.3s ease all;
}

/* treeLine */
#treeLine .knob:before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#treeLine .checkbox:checked+.knob:before {
    content: "";
    left: 75px;
}

#treeLine .checkbox:checked~.btn-bg {
    background-color: #4D96FF;
}

#treeLine .knob,
#treeLine .knob:before,
#treeLine .btn-bg {
    transition: 0.3s ease all;
}

/* showLeafIcon */
#showLeafIcon .knob:before {
    content: "";
    position: absolute;
    top: 1.5px;
    left: 4px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15) all;
}

#showLeafIcon .checkbox:checked+.knob:before {
    content: "";
    left: 75px;
}

#showLeafIcon .checkbox:checked~.btn-bg {
    background-color: #4D96FF;
}

#showLeafIcon .knob,
#showLeafIcon .knob:before,
#showLeafIcon .btn-bg {
    transition: 0.3s ease all;
}

/* show treeline css ends */

/* media query starts */

@media (max-width: 768px) {
    .tree-sections {
        column-count: 1;
    }
}

/* media query ends */