/* //treeSelect card section css */
.tree-sections .card-section {
    border: 1px solid rgb(5 5 5 / 12%);
    border-radius: 8px;
    padding: 42px 24px;
}

.tree-sections .card-section p {
    padding: 0 8px;
    margin-top: 0;
}

/* //treeSelect container css */
.tree-sections .tree-select-container {
    position: relative;
    margin-bottom: 15px;
}

/* //treeSelect input css */
.tree-sections .tree-select-input {
    padding: 6px 8px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    overflow-y: auto;
    max-height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tree-sections .tree-select-input .selected-content {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    /* flex: 1; */
    overflow-y: auto;
}

.tree-sections .tree-select-input.placeholder-color {
    color: #b9b3b3;
}

.tree-sections .tree-select-input:hover {
    border: 1px solid #4096ff;
}

.tree-sections .tree-select-input:active {
    border: 1px solid #1677ff;
}

.tree-sections .font-icons svg {
    float: right;
    color: #D0D0D0;
    font-size: 14px;
}

.tree-sections .dropdown-icons svg {
    font-size: 14px;
}

.tree-sections .dropdown-icons svg.svg-inline--fa.fa-file-image {
    font-size: 50px;
    text-align: center;
    color: #D0D0D0;
}

/* //treeSelect dropdown css */
.tree-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow: auto;
    width: 100%;
    z-index: 10;
}

.tree-dropdown .tree-option .tree-option-label {
    padding: 0px 6px;
    border-radius: 3px;
    margin: 6px 0px;
    column-gap: 5px;
}

.tree-dropdown .tree-option.disabled .tree-option-label {
    pointer-events: none;
    opacity: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.tree-dropdown .tree-option.selected>.tree-option-label {
    background-color: #4096ff24;
    border-radius: 3px;
}

.tree-dropdown .tree-option.selected>.tree-option-label:hover,
.tree-dropdown .tree-option .tree-submenu .tree-option.selected>.tree-option-label:hover {
    background-color: #4096ff24;
}

.tree-dropdown .tree-option>.tree-option-label:hover,
.tree-dropdown .tree-option .tree-submenu .tree-option>.tree-option-label:hover {
    background-color: #6d6b6b24;
}

/* .disabled .tree-select-input {
    background-color: #f5f5f5;
    cursor: not-allowed;
} */

/* selected items css */
.tree-select-container .selected-pill {
    background-color: #58697d17;
    padding: 3px 9px;
    border-radius: 3px;
    margin-right: 2px;
    text-wrap: nowrap;
}

/* variant css */
.tree-sections .tree-select-container.outlined .tree-select-input {
    border: 1px solid #D0D0D0;
}

.tree-sections .tree-select-container.underlined .tree-select-input {
    border: unset;
    border-bottom: 1px solid #D0D0D0;
    border-radius: 0;
}

.tree-sections .tree-select-container.borderless .tree-select-input {
    border: unset;
}

.tree-sections .tree-select-container.filled .tree-select-input {
    border: unset;
    background-color: #b9b3b333;
}

.tree-sections .tree-select-container.underlined .tree-select-input:hover {
    border-bottom: 1px solid #4096ff;
}

.tree-sections .tree-select-container.outlined .tree-select-input:hover {
    border: 1px solid #4096ff;
}

/* status css */

.tree-sections .tree-select-container.error .tree-select-input {
    border: 1px solid #c70101;
}

.tree-sections .tree-select-container.warning .tree-select-input {
    border: 1px solid #edaf08;
}